/* Write your CSS here */
.appointment-container-item {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .appointment-container-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
    min-width: 297px;
  }
}
.app-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.app-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
.date {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 12px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .date {
    font-size: 16px;
  }
}
.favorite-icon-container {
  width: 20px;
  height: 20px;
  background: transparent;

  border: none;
  outline: none;
}
